.navbar {
    background:  linear-gradient(to right, #dae2f8, #ece9e6); 
    box-shadow: 2px 4px 10px lightgray;
}

.navbar-brand {
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    color: rgb(75, 69, 134);
}