.marginMeter {
    width: 33%;
    margin: 0 auto;
}

.marginMeter__high {
    height: 125px;
    width: 125px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
}

.marginMeter__low {
    height: 125px;
    width: 125px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
}

.marginMeter__titleBox {
    height: 25%;    
    padding-top: 10px;
}

.marginMeter__title {
    text-align: center;
    padding: 0 35px;
    color: #6d6d6d;
    font-size: large;
    font-family: 'Barlow', sans-serif;
}

.marginMeter__high > .CircularProgressbar > .CircularProgressbar-path {
    stroke: #00c85e;
}

.marginMeter__high > .CircularProgressbar > .CircularProgressbar-trail {
    stroke: #d6d6d6;
  }
  
.marginMeter__high > .CircularProgressbar > .CircularProgressbar-text {
    fill: #00c85e;
  }
  
.marginMeter__high > .CircularProgressbar > .CircularProgressbar-background {
    fill: #00c85e;
}


.marginMeter__low > .CircularProgressbar > .CircularProgressbar-path {
    stroke: #ff3d3d;
}

.marginMeter__low > .CircularProgressbar > .CircularProgressbar-trail {
    stroke: #d6d6d6;
  }
  
.marginMeter__low > .CircularProgressbar > .CircularProgressbar-text {
    fill: #ff3d3d;
  }
  
.marginMeter__low > .CircularProgressbar > .CircularProgressbar-background {
    fill: #ff3d3d;
}