.marginArrow {
    width: 33%;
    margin: 0 auto;
}

.marginArrow__titleBox {
    height: 25%;    
    padding-top: 10px;
}

.marginArrow__title {
    text-align: center;
    padding: 0 35px;
    color: #6d6d6d;
    font-size: large;
    font-family: 'Barlow', sans-serif;
}

.marginArrow__iconBox {
    display: flex;
    height: 125px;
    width: 125px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
    margin: 0 25% 25% 40%;
}

.marginArrow__uptext {
    font-weight: 700;
    font-size: 25px;
    color: #00c85e;
}

.marginArrow__up {
    font-weight: 25px;
    font-size: large;
    color: #00c85e;
}

.marginArrow__downtext {
    font-weight: 700;
    font-size: 25px;
    color: #ff3d3d;
}

.marginArrow__down {
    font-weight: 25px;
    font-size: large;
    color: #ff3d3d;
}
