.monitorBox {
    /* border: 1px solid gray; */
    margin: 40px auto;
    background-color:#d4eceb;
    width: 30%;
    height: 280px;
    box-shadow: 2px 4px 10px lightgray;
    border-radius: 25px;
}


.monitorBox__header {
    height: 12%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    padding: 2% 0;
    color: #6d6d6d;
    font-family: 'Barlow', sans-serif;}

.monitorBox__vitals {
    margin-top: 4%;
    display: flex;
    background-color: #f0f8ff;
    height: 80%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
