.recipes {
    width: 94%;
    margin: 10px 3% 2% 3%;
    border-radius: 25px;
    box-shadow: 2px 4px 8px lightgray;
}

.recipes > .tab-content {
    border-radius: 25px;
    box-shadow: 2px 4px 8px lightgray;
}

.recipes > .nav-tabs > .nav-item {
    border-top-right-radius: 25px;
    height: 50px;
    width: 180px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 0px -4px 8px lightgray;
}

.recipes > .nav-tabs > .active {
    color: #4083f0;
}

.recipes > .tab-content {
    background-color: aliceblue;
    padding: 30px;
}

.recipesQuery {
    width: 100px;
    padding: auto;
    margin: 0 5% 10% 5%;
}

.recipesQuery__page {
    height: 25px;
    width: 50px;
    padding: 10px;
    border: 1px solid lightgray;
}

.recipesQuery__text {
    font-weight: 600;
    font-size: 18px;
}

.recipesQuery__input {
    width: 40px;
    border: 1px solid lightgray;
    padding: 5px;
}