
thead > tr > .recipeTable__header {
    background: #4083f0;
    color: aliceblue;
}

.recipeTable__headerBox {
    display: flex;
}

.recipeTable__headerText {
    margin: auto 10px auto auto;
}

.recipeTable__headerSort {
    width: 10px;
    align-items: flex-end;
    position: relative;
    display: block;
    margin-right: auto;    
}

.recipeTable__headerSort > button {
    padding: 0;
    color: aliceblue;
}

.recipeTable__headerSort > button > span > .MuiSvgIcon-root {
    font-size: large;
}

.table-hover tbody tr:hover td  
{  
 background-color: #afccfa; 
}

.input-group-text {
    padding: 0;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.recipeTable__headerTags {
   margin-left: 30%;
   margin-bottom: 10px;
}

.input-group-text > input[type=checkbox]{
    width: 20px;
    height: 20px;
}

.recipeTable__tags {
    max-width: fit-content;
}

.recipeTable__headerCheckBox {
    
    margin-bottom: 12px;
}